@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --lfw: 240px;
    --african-violet: #c9f;
    --almond: #ffaa90;
    --almond-creme: #fba;
    --blue: #56f;
    --bluey: #89f;
    --butterscotch: #f96;
    --gold: #fa0;
    --golden-orange: #f90;
    --gray: #668;
    --green: #993;
    --ice: #9cf;
    --lilac: #c5f;
    --lima-bean: #cc6;
    --magenta: #c59;
    --mars: #f20;
    --moonlit-violet: #96f;
    --orange: #f80;
    --peach: #f86;
    --red: #c44;
    --sky: #aaf;
    --space-white: #f5f6fa;
    --sunflower: #fc9;
    --tomato: #f55;
    --violet-creme: #dbf;
  }
}

@font-face {
  font-family: 'Helvetica Ultra Compressed';
  src: url('/fonts/Helvetica-Ultra-Compressed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Ultra Compressed', Arial, Helvetica, sans-serif;
}
